<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title inertia>
    AdonisJS
  </title>
    <!-- favicon -->
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/icon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/icon-16.png">

  <!-- apple icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/icon-180.png">

  <!-- PWA manifest -->
  <link rel="manifest" href="/assets/site.webmanifest">
  <meta name="theme-color" content="#e60000">

  @vite(['inertia/app.ts'])
  @inertiaHead()
  @stack('dumper')
  <script>
    const theme = localStorage.getItem('vueuse-color-scheme') || 'auto'
    if (theme === 'dark' || (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark')
    } else {
      document.documentElement.classList.remove('dark')
    }
  </script>
</head>

<body>
  <div id="splash-screen"
    class="fixed inset-0 z-9999 flex flex-col items-center justify-center transition-opacity duration-500 ease-in-out opacity-100">
    <h1 class="animate-pulse text-4xl">
      Chargement...
    </h1>
  </div>
  @inertia({ class: 'isolate' })
</body>

</html>
